# **Python Preprocessing dataframe dengan Pandas**
Referensi:
https://pandas.pydata.org/docs/user_guide/index.html

## **Struktur Data di Pandas**
Salah satu kunci untuk memahami pandas adalah memahami model data. Model data pada pandas adalah sebagai berikut:

![image_2022-03-08_160152.png]()
![image_2022-03-08_160420.png]()

### **Dataframe**

In [ ]:
import pandas as pd
pathdata = '/content/drive/MyDrive/Colab Notebooks/TS_dataset/iot_telemetry_data.csv'
getdataiot = pd.read_csv(pathdata)
df = pd.DataFrame(getdataiot)
df

,ts,device,co,humidity,light,lpg,motion,smoke,temp
0,1.594512e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.594512e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.594512e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.594512e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000
...,...,...,...,...,...,...,...,...,...
405179,1.595203e+09,00:0f:00:70:91:0a,0.003745,75.300003,False,0.006247,False,0.016437,19.200001
405180,1.595203e+09,b8:27:eb:bf:9d:51,0.005882,48.500000,False,0.008660,False,0.023301,22.200000
405181,1.595203e+09,1c:bf:ce:15:ec:4d,0.004540,75.699997,True,0.007181,False,0.019076,26.600000
405182,1.595203e+09,00:0f:00:70:91:0a,0.003745,75.300003,False,0.006247,False,0.016437,19.200001
405183,1.595203e+09,b8:27:eb:bf:9d:51,0.005914,48.400000,False,0.008695,False,0.023400,22.200000

## **Memeriksa objek dataframe**

### **Memeriksa data**

In [ ]:
## cek atribute data apakah ada yang kosong?
df.empty

False

In [ ]:
## cek jumlah baris dan kolom
df.shape

(405184, 9)

In [ ]:
## cek nama atribut di tiap kolom
df.columns

Index(['ts', 'device', 'co', 'humidity', 'light', 'lpg', 'motion', 'smoke',
       'temp'],
      dtype='object')

In [ ]:
## menampilkan lima baris pertama dari dataset
df.head()

,ts,device,co,humidity,light,lpg,motion,smoke,temp
0,1.594512e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.594512e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.594512e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.594512e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000

In [ ]:
## menampilkan lima baris terakhir dari dataset
df.tail(5)

,ts,device,co,humidity,light,lpg,motion,smoke,temp
405179,1.595203e+09,00:0f:00:70:91:0a,0.003745,75.300003,False,0.006247,False,0.016437,19.200001
405180,1.595203e+09,b8:27:eb:bf:9d:51,0.005882,48.500000,False,0.008660,False,0.023301,22.200000
405181,1.595203e+09,1c:bf:ce:15:ec:4d,0.004540,75.699997,True,0.007181,False,0.019076,26.600000
405182,1.595203e+09,00:0f:00:70:91:0a,0.003745,75.300003,False,0.006247,False,0.016437,19.200001
405183,1.595203e+09,b8:27:eb:bf:9d:51,0.005914,48.400000,False,0.008695,False,0.023400,22.200000

In [ ]:
## melihat tipe data atribut di tiap kolom
df.dtypes

ts          float64
device       object
co          float64
humidity    float64
light          bool
lpg         float64
motion         bool
smoke       float64
temp        float64
dtype: object

In [ ]:
## melihat entri data yang "non-null"
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405184 entries, 0 to 405183
Data columns (total 9 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ts        405184 non-null  float64
 1   device    405184 non-null  object
 2   co        405184 non-null  float64
 3   humidity  405184 non-null  float64
 4   light     405184 non-null  bool
 5   lpg       405184 non-null  float64
 6   motion    405184 non-null  bool
 7   smoke     405184 non-null  float64
 8   temp      405184 non-null  float64
dtypes: bool(2), float64(6), object(1)
memory usage: 22.4+ MB

### **Menjelaskan dan meringkas data**

In [ ]:
## menghitung ringkasan statistik 
df.describe()

,ts,co,humidity,lpg,smoke,temp
count,4.051840e+05,405184.000000,405184.000000,405184.000000,405184.000000,405184.000000
mean,1.594858e+09,0.004639,60.511694,0.007237,0.019264,22.453987
std,1.994984e+05,0.001250,11.366489,0.001444,0.004086,2.698347
min,1.594512e+09,0.001171,1.100000,0.002693,0.006692,0.000000
25%,1.594686e+09,0.003919,51.000000,0.006456,0.017024,19.900000
50%,1.594858e+09,0.004812,54.900000,0.007489,0.019950,22.200000
75%,1.595031e+09,0.005409,74.300003,0.008150,0.021838,23.600000
max,1.595203e+09,0.014420,99.900002,0.016567,0.046590,30.600000

In [ ]:
 ## menampilkan seluruh argumen statistik
 df.describe(include='all')

,ts,device,co,humidity,light,lpg,motion,smoke,temp
count,4.051840e+05,405184,405184.000000,405184.000000,405184,405184.000000,405184,405184.000000,405184.000000
unique,NaN,3,NaN,NaN,2,NaN,2,NaN,NaN
top,NaN,b8:27:eb:bf:9d:51,NaN,NaN,False,NaN,False,NaN,NaN
freq,NaN,187451,NaN,NaN,292657,NaN,404702,NaN,NaN
mean,1.594858e+09,NaN,0.004639,60.511694,NaN,0.007237,NaN,0.019264,22.453987
std,1.994984e+05,NaN,0.001250,11.366489,NaN,0.001444,NaN,0.004086,2.698347
min,1.594512e+09,NaN,0.001171,1.100000,NaN,0.002693,NaN,0.006692,0.000000
25%,1.594686e+09,NaN,0.003919,51.000000,NaN,0.006456,NaN,0.017024,19.900000
50%,1.594858e+09,NaN,0.004812,54.900000,NaN,0.007489,NaN,0.019950,22.200000
75%,1.595031e+09,NaN,0.005409,74.300003,NaN,0.008150,NaN,0.021838,23.600000
max,1.595203e+09,NaN,0.014420,99.900002,NaN,0.016567,NaN,0.046590,30.600000

In [ ]:
#menampilkan nilai unik pada kolom tertentu, misal nilai unik di kolom device
df.device.unique()

array(['b8:27:eb:bf:9d:51', '00:0f:00:70:91:0a', '1c:bf:ce:15:ec:4d'],
      dtype=object)

## **Mengambil subset di dataframe**

### **Memilih kolom**

In [ ]:
#memilih satu kolom
df.humidity

0         51.000000
1         76.000000
2         50.900000
3         76.800003
4         50.900000
            ...
405179    75.300003
405180    48.500000
405181    75.699997
405182    75.300003
405183    48.400000
Name: humidity, Length: 405184, dtype: float64

In [ ]:
#memilih lebih dari satu kolom
df[['light','smoke']]

        light     smoke
0       False  0.020411
1       False  0.013275
2       False  0.020475
3        True  0.018628
4       False  0.020448
...       ...       ...
405179  False  0.016437
405180  False  0.023301
405181   True  0.019076
405182  False  0.016437
405183  False  0.023400

[405184 rows x 2 columns]

### **Slicing data (pilih data pada record tertentu)**

In [ ]:
#pilih dan tampilkan record dengan index 100-109
df[100:110]

,ts,device,co,humidity,light,lpg,motion,smoke,temp
100,1.594512e+09,b8:27:eb:bf:9d:51,0.004952,51.000000,False,0.007646,False,0.020398,22.600000
101,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.099998,False,0.005114,False,0.013275,19.700001
102,1.594512e+09,b8:27:eb:bf:9d:51,0.004942,51.000000,False,0.007635,False,0.020366,22.700000
103,1.594512e+09,b8:27:eb:bf:9d:51,0.004946,51.000000,False,0.007640,False,0.020380,22.600000
104,1.594512e+09,1c:bf:ce:15:ec:4d,0.004391,78.000000,True,0.007009,False,0.018589,27.000000
105,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.099998,False,0.005114,False,0.013275,19.700001
106,1.594512e+09,b8:27:eb:bf:9d:51,0.004980,51.000000,False,0.007678,False,0.020489,22.700000
107,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.099998,False,0.005114,False,0.013275,19.700001
108,1.594512e+09,1c:bf:ce:15:ec:4d,0.004439,78.000000,True,0.007065,False,0.018747,27.000000
109,1.594512e+09,b8:27:eb:bf:9d:51,0.004987,51.000000,False,0.007686,False,0.020512,22.700000

In [ ]:
#pilih dan tampilkan indeks 100-109 dan tampilkan kolom light dan smoke 
df[['light','smoke']][100:110]

     light     smoke
100  False  0.020398
101  False  0.013275
102  False  0.020366
103  False  0.020380
104   True  0.018589
105  False  0.013275
106  False  0.020489
107  False  0.013275
108   True  0.018747
109  False  0.020512

### **Indeks data**

In [ ]:
#menampilkan data indeks mulai 100-110 (loc[] = inclusive operation)
df.loc[100:110]

,ts,device,co,humidity,light,lpg,motion,smoke,temp
100,1.594512e+09,b8:27:eb:bf:9d:51,0.004952,51.000000,False,0.007646,False,0.020398,22.600000
101,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.099998,False,0.005114,False,0.013275,19.700001
102,1.594512e+09,b8:27:eb:bf:9d:51,0.004942,51.000000,False,0.007635,False,0.020366,22.700000
103,1.594512e+09,b8:27:eb:bf:9d:51,0.004946,51.000000,False,0.007640,False,0.020380,22.600000
104,1.594512e+09,1c:bf:ce:15:ec:4d,0.004391,78.000000,True,0.007009,False,0.018589,27.000000
105,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.099998,False,0.005114,False,0.013275,19.700001
106,1.594512e+09,b8:27:eb:bf:9d:51,0.004980,51.000000,False,0.007678,False,0.020489,22.700000
107,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.099998,False,0.005114,False,0.013275,19.700001
108,1.594512e+09,1c:bf:ce:15:ec:4d,0.004439,78.000000,True,0.007065,False,0.018747,27.000000
109,1.594512e+09,b8:27:eb:bf:9d:51,0.004987,51.000000,False,0.007686,False,0.020512,22.700000
110,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.099998,False,0.005114,False,0.013275,19.799999

In [ ]:
#menampilkan data indeks mulai 100-109 (iloc[] = exclusive operation)
df.iloc[100:110]

,ts,device,co,humidity,light,lpg,motion,smoke,temp
100,1.594512e+09,b8:27:eb:bf:9d:51,0.004952,51.000000,False,0.007646,False,0.020398,22.600000
101,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.099998,False,0.005114,False,0.013275,19.700001
102,1.594512e+09,b8:27:eb:bf:9d:51,0.004942,51.000000,False,0.007635,False,0.020366,22.700000
103,1.594512e+09,b8:27:eb:bf:9d:51,0.004946,51.000000,False,0.007640,False,0.020380,22.600000
104,1.594512e+09,1c:bf:ce:15:ec:4d,0.004391,78.000000,True,0.007009,False,0.018589,27.000000
105,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.099998,False,0.005114,False,0.013275,19.700001
106,1.594512e+09,b8:27:eb:bf:9d:51,0.004980,51.000000,False,0.007678,False,0.020489,22.700000
107,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.099998,False,0.005114,False,0.013275,19.700001
108,1.594512e+09,1c:bf:ce:15:ec:4d,0.004439,78.000000,True,0.007065,False,0.018747,27.000000
109,1.594512e+09,b8:27:eb:bf:9d:51,0.004987,51.000000,False,0.007686,False,0.020512,22.700000

In [ ]:
#menampilkan data pada indeks dan kolom tertentu 
df.at[100,'humidity']

51.0

In [ ]:
#menampilkan data pada indeks dan kolom tertentu 
df.iat[100,3]

51.0

### **Filtering data**

In [ ]:
#menampilkan nilai dengan kondisi tertentu
df.humidity < 60

0          True
1         False
2          True
3         False
4          True
          ...
405179    False
405180     True
405181    False
405182    False
405183     True
Name: humidity, Length: 405184, dtype: bool

In [ ]:
#menampilkan data berdasarkan kondisi tertentu yang berbentuk dataframe
df[df.humidity < 60]

,ts,device,co,humidity,light,lpg,motion,smoke,temp
0,1.594512e+09,b8:27:eb:bf:9d:51,0.004956,51.0,False,0.007651,False,0.020411,22.7
2,1.594512e+09,b8:27:eb:bf:9d:51,0.004976,50.9,False,0.007673,False,0.020475,22.6
4,1.594512e+09,b8:27:eb:bf:9d:51,0.004967,50.9,False,0.007664,False,0.020448,22.6
6,1.594512e+09,b8:27:eb:bf:9d:51,0.004976,50.9,False,0.007673,False,0.020475,22.6
9,1.594512e+09,b8:27:eb:bf:9d:51,0.004970,50.9,False,0.007667,False,0.020457,22.6
...,...,...,...,...,...,...,...,...,...
405173,1.595203e+09,b8:27:eb:bf:9d:51,0.005901,48.4,False,0.008681,False,0.023359,22.3
405176,1.595203e+09,b8:27:eb:bf:9d:51,0.005909,48.4,False,0.008689,False,0.023382,22.3
405177,1.595203e+09,b8:27:eb:bf:9d:51,0.005877,48.5,False,0.008654,False,0.023284,22.3
405180,1.595203e+09,b8:27:eb:bf:9d:51,0.005882,48.5,False,0.008660,False,0.023301,22.2
405183,1.595203e+09,b8:27:eb:bf:9d:51,0.005914,48.4,False,0.008695,False,0.023400,22.2

In [ ]:
df.loc[
       df.humidity.between(40, 60),
       ['humidity','temp', 'light', 'smoke']
]

        humidity  temp  light     smoke
0           51.0  22.7  False  0.020411
2           50.9  22.6  False  0.020475
4           50.9  22.6  False  0.020448
6           50.9  22.6  False  0.020475
9           50.9  22.6  False  0.020457
...          ...   ...    ...       ...
405173      48.4  22.3  False  0.023359
405176      48.4  22.3  False  0.023382
405177      48.5  22.3  False  0.023284
405180      48.5  22.2  False  0.023301
405183      48.4  22.2  False  0.023400

[245868 rows x 4 columns]

## **Menambah dan Menghapus Data**

### **Membuat data baru**

In [ ]:
 #menambah kolom baru dengan nama kolom "source" dan value "kaggle.com"
 df['source'] = 'kaggle.com'
 df.head()

,ts,device,co,humidity,light,lpg,motion,smoke,temp,source
0,1.594512e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000,kaggle.com
1,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001,kaggle.com
2,1.594512e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000,kaggle.com
3,1.594512e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000,kaggle.com
4,1.594512e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000,kaggle.com

In [ ]:
df['temp_negative'] = df.temp < 0
df.head()

,ts,device,co,humidity,light,lpg,motion,smoke,temp,source,temp_negative
0,1.594512e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000,kaggle.com,False
1,1.594512e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001,kaggle.com,False
2,1.594512e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000,kaggle.com,False
3,1.594512e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000,kaggle.com,False
4,1.594512e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000,kaggle.com,False

### **Menghapus data**

In [ ]:
del df['temp_negative']
df.columns

Index(['ts', 'device', 'co', 'humidity', 'light', 'lpg', 'motion', 'smoke',
       'temp', 'source'],
      dtype='object')

## **Memahami Data Wrangling**

### **Memahami Cleaning Data**

In [ ]:
#mengubah nama kolom
df.rename(
    columns={'temp':'temp_C'},
    inplace=True
)
df.columns

Index(['ts', 'device', 'co', 'humidity', 'light', 'lpg', 'motion', 'smoke',
       'temp_C', 'source'],
      dtype='object')

In [ ]:
 df.rename(str.upper, axis='columns').columns

Index(['TS', 'DEVICE', 'CO', 'HUMIDITY', 'LIGHT', 'LPG', 'MOTION', 'SMOKE',
       'TEMP_C', 'SOURCE'],
      dtype='object')

In [ ]:
#konversi tipe data
df.dtypes

ts          float64
device       object
co          float64
humidity    float64
light          bool
lpg         float64
motion         bool
smoke       float64
temp_C      float64
source       object
dtype: object

In [ ]:
df_dengan_kategori = df.assign(
    source = df.source.astype('category')
)
df_dengan_kategori.dtypes

ts           float64
device        object
co           float64
humidity     float64
light           bool
lpg          float64
motion          bool
smoke        float64
temp_C       float64
source      category
dtype: object

In [ ]:
df_dengan_kategori.describe(include='category')

            source
count       405184
unique           1
top     kaggle.com
freq        405184

In [ ]:
#Reordering, reindexing, and sorting data

In [ ]:
#reordering kolom light dengan status true
df.sort_values(by='humidity', ascending=True).head(10)

,ts,device,co,humidity,light,lpg,motion,smoke,temp
364089,1.595134e+09,00:0f:00:70:91:0a,0.002375,1.1,False,0.004494,False,0.011562,19.700001
197975,1.594850e+09,1c:bf:ce:15:ec:4d,0.003736,1.6,True,0.006237,False,0.016409,30.000000
357035,1.595122e+09,1c:bf:ce:15:ec:4d,0.004815,2.7,True,0.007493,False,0.019961,30.000000
162597,1.594790e+09,1c:bf:ce:15:ec:4d,0.004089,2.8,True,0.006657,False,0.017592,25.900000
348191,1.595107e+09,1c:bf:ce:15:ec:4d,0.004493,2.9,True,0.007126,False,0.018920,30.299999
162679,1.594790e+09,1c:bf:ce:15:ec:4d,0.004089,2.9,True,0.006657,False,0.017592,25.900000
164385,1.594793e+09,1c:bf:ce:15:ec:4d,0.004044,3.3,True,0.006605,False,0.017444,25.500000
361586,1.595130e+09,1c:bf:ce:15:ec:4d,0.004344,4.0,True,0.006955,False,0.018433,29.100000
171672,1.594805e+09,1c:bf:ce:15:ec:4d,0.004044,4.0,True,0.006605,False,0.017444,24.000000
210898,1.594872e+09,1c:bf:ce:15:ec:4d,0.003866,4.2,True,0.006392,False,0.016846,27.000000

### **Menangani duplicate, missing, dan invalid data**

In [ ]:
 #cek data duplikat
 df[df.duplicated()].shape[0]

13

In [ ]:
#menampilkan data yang duplikat
df[df.duplicated()].head()

,ts,device,co,humidity,light,lpg,motion,smoke,temp
17987,1.594543e+09,1c:bf:ce:15:ec:4d,0.004078,74.199997,True,0.006644,False,0.017556,24.700001
82095,1.594653e+09,1c:bf:ce:15:ec:4d,0.004310,61.700001,True,0.006916,False,0.018325,23.700001
147647,1.594765e+09,b8:27:eb:bf:9d:51,0.005336,48.600000,False,0.008071,False,0.021610,22.600000
155597,1.594778e+09,b8:27:eb:bf:9d:51,0.005370,46.400000,False,0.008108,False,0.021716,22.500000
169440,1.594802e+09,1c:bf:ce:15:ec:4d,0.004009,54.900002,True,0.006563,False,0.017327,24.400000

### **Memahami Reshaping Data**

In [ ]:
# transpose dataframe
df.set_index('device').head(6).T

device,b8:27:eb:bf:9d:51,00:0f:00:70:91:0a,b8:27:eb:bf:9d:51,1c:bf:ce:15:ec:4d,b8:27:eb:bf:9d:51,1c:bf:ce:15:ec:4d
ts,1594512094.385975,1594512094.735568,1594512098.073573,1594512099.589146,1594512101.761235,1594512104.468411
co,0.004956,0.00284,0.004976,0.004403,0.004967,0.004391
humidity,51.0,76.0,50.9,76.800003,50.9,77.900002
light,False,False,False,True,False,True
lpg,0.007651,0.005114,0.007673,0.007023,0.007664,0.007009
motion,False,False,False,False,False,False
smoke,0.020411,0.013275,0.020475,0.018628,0.020448,0.018589
temp,22.7,19.700001,22.6,27.0,22.6,27.0

In [ ]:
#pivoting data
pivot_df = df.pivot(index='device', columns='ts', values='motion')
pivot_df.head()

ValueError: ignored