# **Dokumentasi Belajar Dasar Pemrograman Python**
###### Inspirasi dari beberapa sumber dan dikompilasi sendiri oleh **Triawan Adi Cahyanto**

# **Bab I Sintaks Dasar Python**

**1.1 Cetak String**

In [ ]:
print('Belajar Machine Learning untuk Time Series dengan Python')

Belajar Machine Learning untuk Time Series dengan Python

**1.2 Operasi Aritmatika**

In [ ]:
print(1+9)
print(4-3)
print(9*8)
print(12/4)

10
1
72
3.0

**1.3 Operasi Pangkat**

In [ ]:
print(4**2)

16

**1.4 Operasi Modulo**

In [ ]:
print(20%3)

2

# **Bab II Variabel dan Tipe Variabel**

**2.1 Membuat Variabel**

In [ ]:
simpanangka = 100
print(simpanangka)

100

**2.2 Perhitungan dengan Variabel**

In [ ]:
angka2 = 200
hasil = simpanangka * (angka2**2)
print('Hasilnya: ' + str(hasil))

Hasilnya: 4000000

**2.3 Tipe Variabel Lain**

In [ ]:
deskripsi = "Internet of Things"
potensional = True
nilaiproduk = 100
faktor = 1.1
tahun1 = faktor * nilaiproduk
print(type(tahun1))
doubledeskripsi = deskripsi + deskripsi
print(doubledeskripsi)

<class 'float'>
Internet of ThingsInternet of Things

**2.4 Konversi Tipe Variabel**

In [ ]:
tabungan = 100
hasil = 100 * 1.10 ** 7

print('Saya mulai menabung sejumlah ' + str(tabungan) + ' dan tabungan sekarang ' + str(hasil) + ' Luar biasa...')

pi_string = '3.1415926'
print(type(pi_string))

pi_float = float(pi_string)

print(type(pi_float))

Saya mulai menabung sejumlah 100 dan tabungan sekarang 194.87171000000012 Luar biasa...
<class 'str'>
<class 'float'>

# **Bab III List**

**3.1 Membuat List**

In [ ]:
# contoh variabel terkait ukuran dalam satuan m2
teras = 10.84
kamar = 4.0
dapur = 12.67
toilet = 9.50

arearumah = [teras, kamar, dapur, toilet]

print(arearumah)

[10.84, 4.0, 12.67, 9.5]

**3.2 Membuat List dengan Tipe Variabel yang Berbeda**

In [ ]:
teras = 10.84
kamar = 4.0
dapur = 12.67
toilet = 9.50

arearumah = ['Ukuranteras', teras,'Ukurankamar', kamar,'Ukurandapur', dapur,'Ukurantoilet',toilet]

print(arearumah)

['Ukuranteras', 10.84, 'Ukurankamar', 4.0, 'Ukurandapur', 12.67, 'Ukurantoilet', 9.5]

**3.3 List dari Suatu List**

In [ ]:
teras = 10.84
kamar = 4.0
dapur = 12.67
toilet = 9.50

rumah = [['Ukuranteras', teras],
['Ukurankamar', kamar],
['Ukurandapur', dapur],
['Ukurantoilet',toilet]]

print(rumah)

print(type(rumah))

[['Ukuranteras', 10.84], ['Ukurankamar', 4.0], ['Ukurandapur', 12.67], ['Ukurantoilet', 9.5]]
<class 'list'>

**3.4 Subset List**

In [ ]:
arearumah = ['Ukuranteras', 13.00,'Ukurankamar', 5.0,'Ukurandapur', 8.0,'Ukurantoilet', 4.0]

print(arearumah[1])

print(arearumah[-1])

print(arearumah[3])

13.0
4.0
5.0

**3.5 Subset dan Operasi Subset**

In [ ]:
arearumah = ['Ukuranteras', 13.00,'Ukurankamar', 5.0,'Ukurandapur', 8.0,'Ukurantoilet', 4.0]

jumlahduaarea = arearumah[1] + arearumah[3]
selisihduaarea = arearumah[5] - arearumah[7]
perkalianduaarea = arearumah[1] * arearumah[3]
pembagianduaarea = arearumah[5] / arearumah[3]

print(jumlahduaarea)
print(selisihduaarea)
print(perkalianduaarea)
print(pembagianduaarea)

18.0
4.0
65.0
1.6

**3.6 Slicing di dalam List**

In [ ]:
arearumah = ['Ukuranteras', 13.00,'Ukurankamar', 5.0,'Ukurandapur', 8.0,'Ukurantoilet', 4.0]

areadepan = arearumah[0:4]
ruangdepan = arearumah[:6]

areabelakang = arearumah[4:8]
ruangbelakang = arearumah[6:]

print(areadepan)
print(areabelakang) 
print(ruangdepan)
print(ruangbelakang)

['Ukuranteras', 13.0, 'Ukurankamar', 5.0]
['Ukurandapur', 8.0, 'Ukurantoilet', 4.0]
['Ukuranteras', 13.0, 'Ukurankamar', 5.0, 'Ukurandapur', 8.0]
['Ukurantoilet', 4.0]

**3.7 Mengganti Elemen di dalam List**

In [ ]:
arearumah = ['Ukuranteras', 13.00,'Ukurankamar', 5.0,'Ukurandapur', 8.0,'Ukurantoilet', 4.0]

arearumah[-3] = 9.0

arearumah[2] = 'TempatIbadah'

print(arearumah)

['Ukuranteras', 13.0, 'TempatIbadah', 5.0, 'Ukurandapur', 9.0, 'Ukurantoilet', 4.0]

**3.8 Ekstensi List**

In [ ]:
arearumah = ['Ukuranteras', 13.00,'Ukurankamar', 5.0,'Ukurandapur', 8.0,'Ukurantoilet', 4.0]

arearumah1 = arearumah + ['MejaBelajar', 6.0]

arearumah2 = arearumah1 + ['TempatIbadah', 5.5]

print(arearumah)
print(arearumah1)
print(arearumah2)

['Ukuranteras', 13.0, 'Ukurankamar', 5.0, 'Ukurandapur', 8.0, 'Ukurantoilet', 4.0]
['Ukuranteras', 13.0, 'Ukurankamar', 5.0, 'Ukurandapur', 8.0, 'Ukurantoilet', 4.0, 'MejaBelajar', 6.0]
['Ukuranteras', 13.0, 'Ukurankamar', 5.0, 'Ukurandapur', 8.0, 'Ukurantoilet', 4.0, 'MejaBelajar', 6.0, 'TempatIbadah', 5.5]

**3.9 Manipulasi List**

In [ ]:
luasarea = [12.75, 19.43, 11.11, 59.0, 100]

luasarea_copy = luasarea[:]

luasarea_copy[0] = 5.0

print(luasarea)
print(luasarea_copy)

[12.75, 19.43, 11.11, 59.0, 100]
[5.0, 19.43, 11.11, 59.0, 100]

# **Bab IV Dictionaries**

**4.1 Membuat Dictionary**

In [ ]:
fakultas = ['FMIPA','Fahutan', 'Fateta', 'FEM']
departemen = ['ilkom', 'silvikultur', 'teknik pertanian', 'agribisnis']

ipb = {'FMIPA':'ilkom', 'Fahutan':'silvikultur','Fateta':'teknik pertanian', 'FEM':'agribisnis'}

print(ipb)

{'FMIPA': 'ilkom', 'Fahutan': 'silvikultur', 'Fateta': 'teknik pertanian', 'FEM': 'agribisnis'}

**4.2 Akses Dictionary**

In [ ]:
ipb = {'FMIPA':'ilkom', 'Fahutan':'silvikultur','Fateta':'teknik pertanian', 'FEM':'agribisnis'}

print(ipb.keys())

print(ipb['FMIPA'])

dict_keys(['FMIPA', 'Fahutan', 'Fateta', 'FEM'])
ilkom

**4.3 Manipulasi Dictionary**

In [ ]:
ipb = {'FMIPA':'ilkom', 'Fahutan':'silvikultur','Fateta':'teknik pertanian', 'FEM':'agribisnis'}

ipb['Fema'] = 'ilmu gizi'

print('Fema' in ipb)

ipb['SB'] = 'bisnis'

print(ipb)

ipb.update({'Fateta':'teknik pertanian dan biogas'})

del(ipb['Fema'])

print(ipb)

True
{'FMIPA': 'ilkom', 'Fahutan': 'silvikultur', 'Fateta': 'teknik pertanian', 'FEM': 'agribisnis', 'Fema': 'ilmu gizi', 'SB': 'bisnis'}
{'FMIPA': 'ilkom', 'Fahutan': 'silvikultur', 'Fateta': 'teknik pertanian dan biogas', 'FEM': 'agribisnis', 'SB': 'bisnis'}

**4.4 Dictionaryception**

In [ ]:
ipb = {'FMIPA': {'departemen':'ilkom', 'jumlahmahasiswa':'200'},
       'Fahutan': {'departemen':'silvikultur', 'jumlahmahasiswa':'180'},
       'Fateta': {'departemen':'teknik pertanian', 'jumlahmahasiswa':'190'},
       'FEM': {'departemen':'agribisnis', 'jumlahmahasiswa':'170'}}

print(ipb['FMIPA']['departemen'])
print(ipb['FMIPA']['jumlahmahasiswa'])

tambahdata = {'departemen':'ilmu gizi', 'jumlahmahasiswa':'160' }

ipb.update({'FEMA':tambahdata})

print(ipb)

ilkom
200
{'FMIPA': {'departemen': 'ilkom', 'jumlahmahasiswa': '200'}, 'Fahutan': {'departemen': 'silvikultur', 'jumlahmahasiswa': '180'}, 'Fateta': {'departemen': 'teknik pertanian', 'jumlahmahasiswa': '190'}, 'FEM': {'departemen': 'agribisnis', 'jumlahmahasiswa': '170'}, 'FEMA': {'departemen': 'ilmu gizi', 'jumlahmahasiswa': '160'}}

# **Bab V Tuple**

**5.1 Membuat Tuple**

In [ ]:
contoh_tuple = (1000, 1.000, True, 'IPB University')
bilanganbulat, bilanganpecahan, bolean, string = contoh_tuple
print(bilanganbulat)
print(bilanganpecahan)
print(bolean)
print(string)

1000
1.0
True
IPB University

# **Bab VI Set**

**6.1 Membuat Set**

In [ ]:
angka = {1000,1000,10000,10,100,200,300,400}
print(angka)

{100, 1000, 200, 10, 300, 10000, 400}

# **Bab VII If Else Looping**

**7.1 Membuat Kondisional dengan If**

In [ ]:
harga = 7000
if harga>= 5000:
  print('Harganya Mahal')
print('Harga Odadingnya:',harga)

Harganya Mahal
Harga Odadingnya: 7000

**7.2 Membuat Kondisional dengan If Else Elif**

In [ ]:
harga = 4000
if harga>= 5000:
  print('Harganya Mahal')
elif harga>=3000:
  print('Harganya Standar')
else:
  print('Harganya Murah')
print('Harga Odadingnya:',harga)

Harganya Standar
Harga Odadingnya: 4000

**7.3 Membuat Looping dengan While**

In [ ]:
angka = 0
while angka <= 15:
  print(angka)
  angka += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

**7.4 Membuat Looping dengan For**

In [ ]:
angka = [0,1,2,3,4,5,6,7,8,9,10]
for i in angka:
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in angka:
  if(i == 5):
    continue
  print(i)

0
1
2
3
4
6
7
8
9
10

In [ ]:
for i in angka:
  if (i == 4):
    break
  print(i)

0
1
2
3

# **Bab VII Fungsi**

**7.1 Membuat Fungsi**

In [ ]:
var1 = [10,11,12,13,14]
var2 = True

print(type(var1))

print(len(var1))

ubahint = int(var2)
print(ubahint)
print(type(var2))

<class 'list'>
5
1
<class 'bool'>

**7.2 *Multiple* Argumen**

In [ ]:
nilai1 = [100,200,300,400,500]
nilai2 = [10,20]

gabungan = nilai1 + nilai2
print(gabungan)

gabungansort = sorted(gabungan, reverse=True)
print(gabungansort)

[100, 200, 300, 400, 500, 10, 20]
[500, 400, 300, 200, 100, 20, 10]

**7.3 Membuat Fungsi Sederhana**

In [ ]:
def hello(word):
  kata = word + "!!!"
  return kata

teriak = hello('semangaaatttttttt')
print(teriak)

semangaaatttttttt!!!

**7.4 Fungsi dengan *Multiple* Parameter**

In [ ]:
def hello(word1, word2):
  kata1 = word1 + " !!!"
  kata2 = word2 + " !!!"
  gabungankata = kata1 + kata2
  return(gabungankata)

teriak = hello('belajar', ' pythonnnn')
print(teriak)

belajar !!! pythonnnn !!!

# **Bab VIII Methods**

**8.1 Beberapa *method* dalam string**

In [ ]:
kampus = 'ipb university'

kampus_up = kampus.upper()

print(kampus)
print(kampus_up)

print(kampus.count('i'))

ipb university
IPB UNIVERSITY
3

**8.2 Method di dalam List**

In [ ]:
luasarea = [12,13,14,15,16]

print(luasarea.index(14))
print(luasarea.count(100))

luasarea.append(18)
luasarea.append(20)
print(luasarea)

luasarea.reverse()
print(luasarea)

2
0
[12, 13, 14, 15, 16, 18, 20]
[20, 18, 16, 15, 14, 13, 12]

# **Bab IX Packages**

**9.1 Impor Package**

In [ ]:
angka = 0.98

import math

hasil1 = 2 * math.pi * angka

hasil2 = math.pi * angka**2

print('Hasil pertama: ' + str(hasil1))
print('Hasil kedua: ' +str(hasil2))

Hasil pertama: 6.157521601035994
Hasil kedua: 3.017185584507637

**9.2 Cara Lain Impor Package**

In [ ]:
angka = 12

from math import radians

hasil = angka * radians(180)

print(hasil)

37.69911184307752

# **Bab X Numpy**

**10.1 Numpy Array**

# **Bab XI Pandas**

**11.1 Struktur Data Series**

# **Bab XII Matplotlib**

# **Bab XIII Scikit-Learn**

# **Referensi**

1. https://jakevdp.github.io/PythonDataScienceHandbook/
2. https://automatetheboringstuff.com/
3. http://do1.dr-chuck.com/pythonlearn/EN_us/pythonlearn.pdf
4. https://greenteapress.com/thinkpython/thinkCSpy/thinkCSpy.pdf
5. https://www.w3schools.com/python/default.asp